<div class="card">
  <div class="imagewrapper">
  <img src="assets/image/house.png" class="card-img-top" alt="...">

  <ul class="list-inline text-center membericon animate " >
    <li class="list-inline-item"><button class="btn btn-primary">Edit</button></li>
    <li class="list-inline-item"><button class="btn btn-success">Contact</button></li>
  </ul>

</div>
  <div class="card-body">
 <h2> {{property.Name}}</h2>
 <h2> {{property.price}}</h2>
 <h2> {{property.type}}</h2>

     </div>
</div>


